In [1]:
import pandas as pd

In [2]:
config_datasheet = r'./results/preprocessed.xlsx'

In [3]:
df_raw = pd.read_excel(config_datasheet)
df_raw

     case factor      algorithm         answer    idk  time  correctness
0     198     TI   BinarySearch         Arooba  False     8        False
1     211     TI   BinarySearch              3  False    58         True
2     224     TI   BinarySearch              3  False    30         True
3     231     TI   BinarySearch              3  False    85         True
4     232     TI   BinarySearch              3  False     5         True
..    ...    ...            ...            ...    ...   ...          ...
152   182     BI  ReverseString         Arooba  False     4        False
153   210     BI  ReverseString    gnikcarTeyE  False    72         True
154   212     BI  ReverseString    gnikcarTeyE  False    60         True
155   226     BI  ReverseString  "gnikcarTeyE"  False    29         True
156   234     BI  ReverseString              9  False   113        False

[157 rows x 7 columns]

In [4]:
df_raw["Outlier"] = False
for factor in df_raw["factor"].unique():
    df_sub = df_raw[df_raw["factor"] == factor]
    low = df_sub["time"].quantile(0.05)
    #high = df_sub["time"].quantile(0.95)
    df_sub = df_sub[df_sub["answer"].notna()]
    df_outlier = df_sub[(df_sub["time"] < low) & (df_sub["correctness"] == False)]
    for idx, row in df_outlier.iterrows():
        df_raw.loc[idx, "Outlier"] = True
df_raw.loc[df_raw["answer"].isna(), "Outlier"] = True
df_raw

,case,factor,algorithm,answer,idk,time,correctness,Outlier
0,198,TI,BinarySearch,Arooba,False,8,False,False
1,211,TI,BinarySearch,3,False,58,True,False
2,224,TI,BinarySearch,3,False,30,True,False
3,231,TI,BinarySearch,3,False,85,True,False
4,232,TI,BinarySearch,3,False,5,True,False
...,...,...,...,...,...,...,...,...
152,182,BI,ReverseString,Arooba,False,4,False,False
153,210,BI,ReverseString,gnikcarTeyE,False,72,True,False
154,212,BI,ReverseString,gnikcarTeyE,False,60,True,False
155,226,BI,ReverseString,"""gnikcarTeyE""",False,29,True,False
156,234,BI,ReverseString,9,False,113,False,False

In [5]:
df_raw.to_excel(config_datasheet, index=False)